
// header

header {
	position: fixed
	height: 58px
	background: rgba(255,255,255, 0.95)
	top: 0
	left: 0
	right: 0
	z-index: 99
	box-sizing: border-box
	.uk-navbar {
		justify-content: space-between
		.uk-navbar-brand {
			img {
				display: block
				margin: 10px 0
			}
		}
		.uk-navbar-nav {
			li {
				a {
					font-family: $rob
					min-height: 58px
					padding: 0 50px
					white-space: nowrap
					color: #A9AAAA
					font-size: 18px
					line-height: 21px
					text-transform: capitalize
					&:hover {
						color: #306734
					}
				}
				&.uk-active {
					a {
						color: #306734
					}
				}
			}
		}
		.social {
			li {
				a {
					padding: 0 10px
					color: #A9AAAA
					i {
						margin: 0 !important
					}
				}
				&:last-child {
					a {
						padding-right: 0
					}
				}
			}
		}
	}
}

