* {outline: 0}

// fonts
$rob = 'Roboto', sans-serif
$got = 'GothamPro', sans-serif
$gotL = 'GothamPro-Light', sans-serif
$gotM = 'GothamPro-Medium', sans-serif
$gotB = 'GothamPro-Bold', sans-serif
$ap = 'Apple', sans-serif
$cav = 'Caveat', cursive

// colors
$apple = #ED3237
$pear = #48A52C
$plum = #27085A
$apricot = #FF8000
$multi = #A03C4B
$beet = #A03C4B
$carrot = #FF8000
$tomato = #ED3237

.apple      {color: $apple}
.pear       {color: $pear}
.plum       {color: $plum}
.apricot    {color: $apricot}
.multi      {color: $multi}
.beet       {color: $beet}
.carrot     {color: $carrot}
.tomato     {color: $tomato}

html, body {
	background: #f1f1f1
	font-family: $rob
	overflow-x: hidden
}

a {transition: all 0.3s}

.mb10 {
	margin-bottom: 10px !important
}

.clearfix:before,
.clearfix:after {
	content ""
	display table
}
.clearfix {
	&:after {
		clear both
	}
}

section {
	text-align center
	max-height: 100vh
	&.vertical-scrolling {
		//padding-top: 58px !important
	}
	&.banner {
		padding: 0 !important
		background-size: cover !important
	}
}
h2 {
	text-transform lowercase
	font-size 4em
	margin-bottom 20px
}
h3 {
	font-weight 300
	font-size 2.8em
}

.uk-container {
	@media (min-width: 960px) {
		max-width: 1170px
	}
}

.banner {
	position: relative
	.uk-container {
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: auto !important
		.banner-text {
			width: 71%
			margin: 0 auto
			padding: 20px 70px 39px
			box-sizing: border-box
			text-align: center
			background-size: 100% !important
			p {
				margin: 0
				font-size: 18px
				line-height: 17px
				font-family: $got
				color: #fff
			}
		}
	}
}

.mySection {
	background: #fff
	.uk-container {
		overflow: hidden
		height: 100%
		.my-grid {
			height: 100%
		}
	}
	&.production {
		.uk-container {
			height: auto
		}
		.fp-tableCell {
			border-bottom: 1px solid #000
		}
		.col1, .col3 {
			width: 30%
		}
		.col2 {
			width: 40%
		}
		.uk-button {
			border: 0
			position: relative
			span {
				font-size: 16px
				font-family: $gotM
				text-decoration: underline
				display: inline-block
				position: absolute
				bottom: 10px
				text-transform: capitalize
				left: 0
				right: 0
				text-align: center
				color: #fff
			}
		}
		p {
			font-size: 16px
			line-height: 15px
			text-align: left
			padding-left: 80px
			font-family: $gotL
			strong {
				font-family: $gotM
				margin-bottom: 10px
				display: block
			}
		}
		ul {
			padding: 0
			margin: 0
			list-style: none
			li {
				display: flex
				padding-right: 80px
				padding-bottom: 44px
				position: relative
				img {
					width: 108px
					height: 108px
					margin-right: 20px
				}
				span {
					font-size: 12px
					line-height: 14px
					font-family: $rob
					font-weight: 300
					color: #585858
					align-self: center
					text-align: left
				}
				.vector {
					content: ''
					width: 24px
					height: 24px
					bottom: 10px
					position: absolute
					left: 42px
					display: block
				}
			}
		}
	}
	.my-grid {
		display: flex
	}
	.col {
		display: flex
		justify-content: center
		flex-flow: column
		&.col1 {
			width: 34.19%
			text-align: left
			.content {
				padding-right: 30px
				padding-top: 60px
			}
			p {
				font-size: 16px
				line-height: 15px
				font-family: $got
				strong {
					font-weight: 500
					font-family: $gotM
					margin-right: 5px
				}
				.organic {
					display: block
					font-family: $cav
					font-size: 36px
					line-height: 45px
					color: #FFAA5F
				}
			}
			ul {
				margin: 0
				list-style: none
				padding: 0
				li {
					font-size: 16px
					line-height: 15px
					padding-left: 34px
					position: relative
					margin-bottom: 10px
					min-height: 30px
					vertical-align: middle
					span {
						width: 24px
						height: 24px
						display: block
						position: absolute
						top: 50%
						left: 0
						margin-top: -12px
					}
				}
			}
		}
		&.col2 {
			width: 30.77%
			position: relative
			.content {
			    min-height: 100%
			    background-repeat: no-repeat
			    background-attachment: fixed
			    background-position: center
			}
			img {
				display: block
				max-width 284px
				height: auto
				margin: auto
			}
			h2 {
				span.big {
					font-size: 48px
					line-height: 48px
					font-family: $ap
					display: block
				}
				span.small {
					font-size: 36px
					line-height: 36px
					font-family: $ap
					display: block
					margin-bottom: 10px
					text-transform: none
				}
				span.descr {
					display: block
					font-size: 18px
					line-height: 17px
					font-family: $gotB
					color: #595858
					margin-bottom: 100px
				}
			}
		}
		&.col3 {
			width: 35%
			.content {
				height: 100%
				display: flex
				justify-content: center
				flex-flow: column
			}
			&.plax {
				overflow: hidden
			}
		}
	}
	//&.multifruit {
	//	.col1 {
	//		width: 31.63%
	//		.content {
	//			padding-right: 20px
	//		}
	//	}
	//	.col2 {
	//		width: 33.33%
	//		.content {
	//			background-position: 48.7% 50%
	//		}
	//	}
	//}
	&.left {
		.col3 {
			.content {
				margin-right: 0
			}
		}
	}
}


#fp-nav {
	background: rgba(0,0,0, 0.25)
	width: 24px !important
	border-radius: 16px
	overflow: hidden
	ul {
		margin: 0
		padding: 5px 0 !important
		width: 100%
		li {
			text-align: center
			margin: 6px !important
			a {
				padding: 0
				span {
					width: 6px !important
					height: 6px !important
					background: #fff !important
					margin: -4px 0 0 -4px !important
				}
				&.active {
					span {
						width: 12px !important
						height: 12px !important
						margin: -7px 0 0 -7px !important
					}
				}
			}
		}
	}
}


.parralax-scene {
	padding: 0
	margin: 0
	width: 100%
	height: 100%
	overflow: hidden
	top: -5%
	left: -5%

	.layer {
		width: 110%
		height: 110%
		overflow: hidden
	}
	.layer1, .layer2, .layer3, .layer4 {
		background-size: inherit
		background-repeat: no-repeat
		background-position: center
		position: absolute
		width: 100%
		height: 100%
		left: -1%
		top: -1%
	}
}

.footer {
	background: linear-gradient(to bottom,  rgba(101,156,53,1) 0%,rgba(31,102,0,1) 100%)
	max-height: 613px !important
	h3 {
		font-family: $ap
		font-size: 36px
		color: #fff
		margin: 0
	}
	.map {
		margin: 60px 0
		border-radius: 4px
		overflow: hidden
	}
	h6 {
		font-size: 18px
		font-family: $rob
		font-weight: 500
		color: #fff
		margin: 0 0 20px
	}
	p {
		font-weight: 400
		color: #fff
		font-size: 18px
		font-family: $rob
		span {
			margin-right: 10px
		}
	}
	.uk-margin {
		margin: 10px 0 !important
	}
	input {
		background: #fff
		border: 0
		border-radius: 4px
		height: 48px
		font-size: 18px
	}
	textarea {
		min-height: 164px
	}
	input, textarea {
		&::placeholder {
			font-family: $rob
			color: #ccc
		}
	}
	.captcha {
		height: 92px
		margin-bottom: 10px
	}
	.uk-button {
		font-family: $gotB
		font-size: 24px
		background: #F79633
		border-radius: 4px
		border: 0
		width: 100%
		min-height: 48px
		color: #fff
	}
}