@font-face
	font-family: 'GothamPro'
	src: url('fonts/GothamPro/GothamPro.eot')
	src: url('fonts/GothamPro/GothamPro.eot?#iefix') format("embedded-opentype"), url('fonts/GothamPro/GothamPro.woff') format("woff"), url('fonts/GothamPro/GothamPro.ttf') format("truetype"), url('fonts/GothamPro/GothamPro.svg#DINPro-Bold') format("svg")
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'GothamPro-Medium'
	src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot')
	src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix') format("embedded-opentype"), url('fonts/GothamPro-Medium/GothamPro-Medium.woff') format("woff"), url('fonts/GothamPro-Medium/GothamPro-Medium.ttf') format("truetype"), url('fonts/GothamPro-Medium/GothamPro-Medium.svg#DINPro') format("svg")
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'GothamPro-Bold'
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot')
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format("embedded-opentype"), url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format("woff"), url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format("truetype"), url('fonts/GothamPro-Bold/GothamPro-Bold.svg#DINPro') format("svg")
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'GothamPro-Light'
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot')
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot?#iefix') format("embedded-opentype"), url('fonts/GothamPro-Light/GothamPro-Light.woff') format("woff"), url('fonts/GothamPro-Light/GothamPro-Light.ttf') format("truetype"), url('fonts/GothamPro-Light/GothamPro-Light.svg#DINPro') format("svg")
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Apple'
	src: url('fonts/apple.ttf') format("truetype")
	font-weight: normal
	font-style: normal