| {% load staticfiles %}

!!! 5
html(lang="en")
    head
        title ECO PRODUCT ASIA
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(content="", name="description")
        meta(content="", name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no", name="format-detection")
        meta(name="HandheldFriendly", content="true")
        link(rel='apple-touch-icon', sizes='180x180', href='static/favicon//apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='static/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='static/favicon/favicon-16x16.png')
        link(rel='mask-icon', href='dist/favicon/safari-pinned-tab.svg' , color='#5bbad5')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='theme-color', content='#ffffff')
        link(href='https://fonts.googleapis.com/css?family=Caveat&subset=cyrillic', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet")

        link(href='{% static "dist/styles/main.min.css" %}', type='text/css', rel='stylesheet')
        link(href='{% static "dist/styles/aos.min.css" %}', type='text/css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css', type='text/css', rel='stylesheet')
        //link(href='https://unpkg.com/aos@next/dist/aos.css', type='text/css', rel='stylesheet')

    body
        block header
            include components/header
        block content

        block footer
            include components/footer

        script(src='{% static "dist/scripts/main.min.js" %}')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js')
        block js