extends base.pug

| {% load staticfiles %}

block content
    #fullpage
        // главный баннер
        section.vertical-scrolling.banner(style='background: url(../static/jpg/1.jpg) center top no-repeat')
            .uk-container
                .banner-text(style='background: url(../static/svg/section1_banner/bg.svg) center top no-repeat')
                    p Правильное питание становится общемировым
                        br
                        | трендом и все больше потребителей выбирают натуральные
                        br
                        | продукты без вредных добавок, сахара и ГМО. Соки из фруктов и
                        br
                        | овощей являются неотъемлемой частью рациона здорового питания
                        br
                        | человека. Они по праву могут называться «живыми», ведь современные
                        br
                        | технологии сохраняют полезные свойства спелых, богатых витаминами
                        br
                        | плодов и значительно помогают укрепить иммунитет.
        // Как мы производим?
        section.vertical-scrolling.mySection.production
            .uk-container
                .my-grid
                    .col1
                        ul
                            li
                                img(src='static/svg/section2_production/1.svg')
                                span МЫ СОБИРАЕМ САМЫЕ СПЕЛЫЕ, СОЧНЫЕ ФРУКТЫ, ЯГОДЫ И ОВОЩИ
                                .vector(style='background: url(static/svg/section2/vector.svg)')
                            li
                                img(src='static/svg/section2_production/2.svg')
                                span БЕРЕЖНО ОТЖИМАЕМ СОК, С СОХРАНЕНИЕМ ЧАСТИ КЛЕТЧАТКИ
                                .vector(style='background: url(static/svg/section2/vector.svg)')
                            li
                                img(src='static/svg/section2_production/3.svg')
                                span ПАСТЕРИЗУЕМ СОК, ЧТО ПОЗВОЛЯЕТ СОХРАНИТЬ ЦЕННЫЕ ВИТАМИНЫ И МИНЕРАЛЫ
                                .vector(style='background: url(static/svg/section2/vector.svg)')
                            li
                                img(src='static/svg/section2_production/4.svg')
                                span В СОКИ ПРЯМОГО ОТЖИМА НЕ ДОПУСКАЕТСЯ ДОБАВЛЕНИЕ САХАРА И КОНСЕРВАНТОВ
                                .vector(style='background: url(static/svg/section2/vector.svg)')
                            li
                                img(src='static/svg/section2_production/5.svg')
                                span РАЗЛИВАЕМ СОКИ В УДОБНУЮ И ЭКОЛОГИЧНУЮ УПАКОВКУ
                    .col2
                        .content
                            div(uk-lightbox='')
                                a.uk-button.uk-button-default(href='static/svg/section2_production/center-big.png')
                                    img(src='static/svg/section2_production/center.jpg')
                                    span Подробнее
                    .col3
                        p
                            strong Компания «Экопродукт Азия» - один из крупнейших производителей натуральных соков, нектаров и сокосодержащих напитков в Кыргызской Республике. Мы №1 производитель соков прямого отжима в Кыргызской Республике.
                            | Соки «Organic™» - это 100% натуральные соки прямого отжима (NFC – не из концентрата), произведенные путем механического отжима местных, экологически чистых, свежих, спелых фруктов и овощей. Ведь Кыргызская Республика славится своими водными ресурсами, обилием солнца и плодородными равнинами. Все сырье для производства соков прямого отжима, выращено в Кыргызстане, включая фрукты и ягоды из биосферной зоны знаменитой жемчужины озера Иссык-Куль. А интегрированная бизнес модель и сотрудничество с фермерскими хозяйствами для поддержки аграрного сектора на 100 % обеспечивает наше производство собственным сырьем. Производство соков прямого отжима осуществляется на ведущем европейском оборудовании, со строгим соблюдением санитарно-гигиенических норм на каждом этапе, что гарантирует высокое качество продукции в соответствии с международными стандартами.
        // Яблоко
        section.vertical-scrolling.mySection.right
            .uk-container
                .my-grid
                    .col1.col
                        .content
                            p Натуральные фруктовые, ягодные и овощные соки прямого отжима - это полезная и вкусная часть ежедневного рациона здорового питания! Сочные и ароматные яблоки, родиной которых как известно, является Центральная Азия, с заботой выращенные местными фермерами, бережно перерабатываются с сохранением части клетчатки, чтобы отдать всю свою пользу и вкус сокам прямого отжима “Organic”.
                            p
                                strong В чем уникальность яблочного
                                    br
                                    | сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”.
                            p
                                strong Состав:
                                | Яблочный сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочный сок прямого отжима способствует:
                            ul.content-list
                                li Поддержанию здоровья сердца и желудочно-кишечного тракта
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Выведению токсинов, избыточных солей из организма
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы и здоровья зрения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Увеличению минеральной плотности костей
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 3 целых яблок, а в трех литрах около 29 целых яблок!
                    .col2.col
                        .content(style='background-image: url(../static/svg/section3_apple/center.svg)')
                    .col3.col.plax
                        ul#scene.parralax-scene
                            li.layer(data-depth='0.2')
                                .layer1(style='background-image: url(../static/svg/section3_apple/layer1.png)')
                            li.layer(data-depth='0.3')
                                .layer2(style='background-image: url(../static/svg/section3_apple/layer2.png)')
                            li.layer(data-depth='0.4')
                                .layer3(style='background-image: url(../static/svg/section3_apple/layer3.png)')

        // Груша
        section.vertical-scrolling.mySection.left
            .uk-container
                .my-grid
                    .col3.col
                        ul#scene1.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section4_pear/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section4_pear/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section4_pear/layer3.png)')
                    .col2.col
                        .content(style='background-image: url(../static/svg/section4_pear/center.svg)')
                    .col1.col
                        .content
                            p
                                strong В чем уникальность яблочно-грушевого сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, груши богаты витаминами: А, В1, В2, В5, В6, В9, С, Е, К, Н, РР, минералами: кальцием, магнием, цинком, медью и марганцем, и содержат ценную клетчатку, пектин, фолиевую кислоту и бета-каротин.
                            p
                                strong Состав:
                                | Яблочный сок, грушевый сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочно-грушевый сок прямого отжима способствует:
                            ul.content-list
                                li Поддержанию здоровья сердца и нервной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Снижению артериального давления
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Повышению циркуляции крови
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Увеличению минеральной плотности костей
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 1 целой груши и 2 целых яблок, а в трех литрах, около 15 груш и 21 яблоко!
        // Слива
        section.vertical-scrolling.mySection.right
            .uk-container
                .my-grid
                    .col1.col
                        .content
                            p
                                strong В чем уникальность яблочно-сливового сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, сливы содержат комплекс ценных компонентов, витаминов: А, В1, В2, С, Р и минералов: калий, фторид, фосфор, магний, железо, кальций и цинк.
                            p
                                strong Состав:
                                | Яблочный сок, сливовый сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочно-сливовый сок прямого отжима способствует:
                            ul.content-list
                                li Нормализации деятельности желудочно-кишечного тракта
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Уменьшению холестериновых отложений на стенках сосудов
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы и здоровья зрения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Увеличению минеральной плотности костей
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Выведению токсинов, избыточных солей из организма
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 5 целых слив и 3 целых яблок, а в трех литрах, около 59 слив и 23 яблок!
                    .col2.col
                        .content(style='background-image: url(../static/svg/section5_plum/center.svg)')
                    .col3.col
                        ul#scene2.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section5_plum/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section5_plum/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section5_plum/layer3.png)')
        // Абрикос
        section.vertical-scrolling.mySection.left
            .uk-container
                .my-grid
                    .col3.col
                        ul#scene3.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section6_apricot/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section6_apricot/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section6_apricot/layer3.png)')
                    .col2.col
                        .content(style='background-image: url(../static/svg/section6_apricot/center.svg)')
                    .col1.col
                        .content
                            p
                                strong В чем уникальность яблочно-абрикосового сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, абрикосы богаты содержанием витаминов А, В3, В2, В5, В6, В9, С, Е, Н, РР, и минералов: калий, магний, железо, йод, фосфор, натрий и пектины.
                            p
                                strong Состав:
                                | Яблочный сок, абрикосовый сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочно-абрикосовый сок прямого отжима способствует:
                            ul.content-list
                                li Укреплению костей и зубов
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Увеличению минеральной плотности костей
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы и здоровья зрения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Кроветворению, благодаря высокому содержанию железа
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 8 целых абрикосов и 3 целых яблок, а в трех литрах, около 95 абрикосов и 21 яблоко!
        // Мультифрукт
        section.vertical-scrolling.mySection.multifruit.right
            .uk-container
                .my-grid
                    .col1.col
                        .content
                            p
                                strong В чем уникальность мультифруктового сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, груши и вишня, используемые для производства мултьтифруктового сока богаты полезными веществами, витаминами: А, В1, В2, В5, В6, В9, С, Е, К, Н, РР, минералами: кальцием, магнием, цинком, медью, марганцем, железом.
                            p
                                strong Состав:
                                | Мультифруктовый сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Мультифруктовый сок прямого отжима способствует:
                            ul
                                li Нормализации деятельности желудочно-кишечного тракта
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Уменьшению холестериновых отложений на стенках сосудов
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы и здоровья зрения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Увеличению минеральной плотности костей
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Выведению токсинов, избыточных солей из организма
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 5 целых слив и 3 целых яблок, а в трех литрах, около 59 слив и 23 яблок!
                    .col2.col
                        .content(style='background-image: url(../static/svg/section7_multi/center.svg)')
                    .col3.col
                        ul#scene4.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section7_multi/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section7_multi/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section7_multi/layer3.png)')
        // Свекла
        section.vertical-scrolling.mySection.left
            .uk-container
                .my-grid
                    .col3.col
                        ul#scene5.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section8_beet/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section8_beet/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section8_beet/layer3.png)')
                    .col2.col
                        .content(style='background-image: url(../static/svg/section8_beet/center.svg)')
                    .col1.col
                        .content
                            p
                                strong В чем уникальность яблочно-свекольного сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, свекла богата содержанием клетчатки, углеводов, аминокислот, белков, минералов: калием, магнием, цинком, кальцием, фосфором, кобальтом, железом, витаминов B1, B5, B6, PP, C, E, провитамином A и фолиевой кислотой.
                            p
                                strong Состав:
                                | Яблочный сок, свекольный сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочно-свекольного сок прямого отжима способствует:
                            ul.content-list
                                li Поддержанию здоровья сердца и нервной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Снижению артериального давления
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Снижению артериального давления
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 1/3 целой свеклы и 3 целых яблок, а в трех литрах около 4 целых свекол и 21 целое яблоко!
        // Морковь
        section.vertical-scrolling.mySection.right
            .uk-container
                .my-grid
                    .col1.col
                        .content
                            p
                                strong В чем уникальность яблочно-морковного сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, морковь - отличный источник бета-каротина, клетчатки, калия, антиоксидантов, витаминов А, В6, К1 и биотина, богата также богата содержанием минералов: кальцием, фосфором, медью, железом, цинком, хромом и никелем.
                            p
                                strong Состав:
                                | Яблочный сок, морковный сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Яблочно-морковный сок прямого отжима способствует:
                            ul.content-list
                                li Укреплению иммунной системы и здоровья зрения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Похудению
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Снижению уровня холестерина
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 1 целой моркови и 2 целых яблок, а в трех литрах около 14 морковей и 19 яблок!
                    .col2.col
                        .content(style='background-image: url(../static/svg/section9_carrot/center.svg)')
                    .col3.col
                        ul#scene6.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section9_carrot/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section9_carrot/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section9_carrot/layer3.png)')
        // Томат
        section.vertical-scrolling.mySection.left
            .uk-container
                .my-grid
                    .col3.col
                        ul#scene7.parralax-scene
                            li.layer(data-depth='0.5')
                                .layer1(style='background-image: url(../static/svg/section10_tomat/layer1.png)')
                            li.layer(data-depth='0.6')
                                .layer2(style='background-image: url(../static/svg/section10_tomat/layer2.png)')
                            li.layer(data-depth='0.7')
                                .layer3(style='background-image: url(../static/svg/section10_tomat/layer3.png)')
                    .col2.col
                        .content(style='background-image: url(../static/svg/section10_tomat/center.svg)')
                    .col1.col
                        .content
                            p
                                strong В чем уникальность томатного сока «Organic»?
                            p 100% сок прямого отжима, без сахара, без красителей, без консервантов, без ГМО. Яблоки богаты ценными витаминами и минералами: А, В, В1, В2, В6, С, Р, Е, микроэлементами: железом, калием, магнием, марганцем, медью, пектином, содержат ценную клетчатку и являются основой соков прямого отжима “Organic”. В дополнение к полезным свойствам яблок, свекла богата содержанием клетчатки, углеводов, аминокислот, белков, минералов: калием, магнием, цинком, кальцием, фосфором, кобальтом, железом, витаминов B1, B5, B6, PP, C, E, провитамином A и фолиевой кислотой.
                            p
                                strong Состав:
                                | Томатный сок.
                                br
                                strong Пищевая ценность на 100 мл (средние значения):
                                | Углеводы - 10,0 г.
                                br
                                strong Энергетическая ценность:
                                | 40 ккал/170 кДж.
                            p.mb10
                                strong Томатный сок способствует: способствует:
                            ul.content-list
                                li Поддержанию здоровья сердца и нервной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Улучшению пищеварения
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению иммунной системы
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                                li Укреплению здоровья кожи и волос
                                    span(style='background: url(../static/svg/list.svg) center no-repeat')
                            p
                                span.organic Organic факт!
                                | В одном стакане нашего сока содержится около 3 целых томатов, а в трех литрах около 28 томатов! Специи рекомендуется добавлять по вкусу.

        section.vertical-scrolling.footer
            .uk-container
                .uk-grid
                    .uk-width-1-3
                        form
                            h3 Свяжитесь с нами
                            .uk-margin
                                input.uk-input(type='text', placeholder='Ваше Имя')
                            .uk-margin
                                input.uk-input(type='text', placeholder='Ваш телефон')
                            .uk-margin
                                textarea.uk-textarea(rows='5', placeholder='Текст сообщения')
                            .captcha(style='background-image: url(../static/captcha.png)')
                            button.uk-button.uk-button-default Отправить
                    .uk-width-2-3
                        .map
                            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11705.730351077806!2d74.62150311757306!3d42.82147523188766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1558520077036!5m2!1sru!2skg', width='100%', height='284', frameborder='0', style='border:0', allowfullscreen='')
                        h6 ПО ВОПРОСАМ СОТРУДНИЧЕСТВА
                        .uk-grid
                            p.uk-width-1-2.uk-text-right
                                span(uk-icon='whatsapp')
                                | +996 (701) 80 20 36
                            p.uk-width-1-2.uk-text-left
                                span(uk-icon='mail')
                                | marketing@ecoproduct.kg


block js
    script.
        $(document).ready(function () {

            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);

            var scene1 = document.getElementById('scene1');
            var parallax = new Parallax(scene1);

            var scene2 = document.getElementById('scene2');
            var parallax = new Parallax(scene2);

            var scene3 = document.getElementById('scene3');
            var parallax = new Parallax(scene3);

            var scene4 = document.getElementById('scene4');
            var parallax = new Parallax(scene4);

            var scene5 = document.getElementById('scene5');
            var parallax = new Parallax(scene5);

            var scene6 = document.getElementById('scene6');
            var parallax = new Parallax(scene6);

            var scene7 = document.getElementById('scene7');
            var parallax = new Parallax(scene7);

            // var parScene = function (id) {
            //     var scene = document.getElementById(id);
            //     var parralax = new Parallax(scene);
            // }
            //
            //


        });
        // fullpage customization
        $('#fullpage').fullpage({
            sectionSelector: '.vertical-scrolling',
            navigation: true,
            css3: false,
            slidesNavigation: true,
            controlArrows: false,
            anchors: ['section1', 'section2', 'section3', 'section4', 'section5', 'section6', 'section7', 'section8', 'section9', 'section10', 'contacts'],
            scrollingSpeed: 1000
        });



