| {% load staticfiles %}

header.uk-fixed-navigation
	.uk-container
		nav.uk-navbar
			a.uk-navbar-brand.uk-hidden-small(href='/')
				img(src='static/logo.svg')
			ul.uk-navbar-nav.uk-hidden-small.main-nav
				li.uk-active
					a(href='#section1') Главная
				li
					a(href='#section2') Соки прямого отжима
				li
					a(href='#section3') Ассортимент
				li
					a(href='#contacts') Контакты
			ul.uk-navbar-nav.social
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='twitter')
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='facebook')
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='instagram')



